* {
  box-sizing: border-box;
  padding: 0;
  margin: 10px;
}

.container {
  background-color: #def2fa;
}

.image {
  background-image: url(../css/images/image2.png);
  height: 250px;
}
.header {
  padding-top: 50px;
  color: white;
  font-size: 40px;
  text-align: left;
}
div h1 {
  font-size: 65px;
  padding-left: 20px;
  text-shadow: 3px 3px 3px #000;
  font-weight: bolder;
}
div nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
}

div nav li {
  float: right;
  margin-top: 0;
  font-size: 20px;
}

div nav ul li button {
  margin: 0 15px;
  padding: 15px 25px;
  border-radius: 30px;
  border: 1px solid blueviolet;
  transition: all 200ms ease-in-out;
  opacity: 1;
}
div nav ul li button:hover {
  background: blue;
  cursor: pointer;
  box-shadow: rgba(46, 229, 157, 0.4);
  transform: translateY(-7px);
}

#info-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px auto;
}

#about-me {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

section div h2 {
  font-size: 30px;
  padding-right: 20px;
  text-align: right;
  color: blue;
}

.free-text {
  flex: 2 70%;
  padding: 10px 10px;
}

#main-page {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#work-section {
  flex: 1 12%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
#sub-header {
  color: blue;
  padding-right: 20px;
  text-align: right;
  font-size: 30;
}
.links {
  flex: 2 70%;
  width: 200px;
  height: 150px;
}

#image-one {
  margin-right: 30px;
}
#image-two {
  margin-right: 30px;
}

.right-border {
  border-right: 2px solid black;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

footer div {
  display: flex;
  justify-content: center;
  flex: 2 70%;
}

footer ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  text-decoration: none;
  align-items: center;
}

footer ul li {
  font-size: 20px;
  padding: 0 10px;
}
footer h2 {
  font-size: 30px;
  padding-right: 20px;
  text-align: right;
  color: blue;
}

@media screen and (max-width: 980px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 575px) {
}
