* {
  box-sizing: border-box;
  padding: 0;
  margin: 10px;
}
header {
  height: 300px;
  background-image: url("../css/images/code.svg");
  background-size: 300px 200px;
  border: 2px solid;
  margin-bottom: 20px;
}
header h1 {
  font-size: 36px;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
}

header nav li {
  float: right;
  margin-top: 0;
}

header nav ul li button {
  margin: 0 15px;
  padding: 10px 10px;
}

#info-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px auto;
}

#about-me {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

section div h2 {
  font-size: 30px;
  padding-right: 20px;
  text-align: right;
}

.free-text {
  flex: 2 70%;
  padding: 10px 40px;
}

#main-page {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#work-section {
  flex: 1 12%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.image-port {
  width: 200px;
  height: 150px;
  flex: 2 70%;
}
.image-one {
  margin-right: 30px;
}
.image-two {
  margin-right: 30px;
}

.right-border {
  border-right: 3px solid;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

footer div {
  display: flex;
  justify-content: center;
  flex: 2 70%;
}

footer ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  text-decoration: none;
  align-items: center;
}

footer ul li {
  font-size: 20px;
  padding: 0 10px;
  margin: 0 20px;
}
footer h2 {
  font-size: 30px;
  padding-right: 20px;
  text-align: right;
}
