* {
  box-sizing: border-box;
  padding: 0;
  margin: 10px; 
}

.image {
  background-image: url(../css/images/image2.png);
  height: 250px;
}
.header {
  padding-top: 50px;
  color: white;
  font-size: 40px;
  text-align: left;
}
div h1 {
  font-size: 36px;
}
div nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
}

div nav li {
  float: right;
  margin-top: 0;
}

div nav ul li button {
  margin: 0 15px;
  padding: 10px 10px;
}

#info-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px auto;
}

#about-me {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

section div h2 {
  font-size: 30px;
  padding-right: 20px;
  text-align: right;
}

.free-text {
  flex: 2 70%;
  padding: 10px 10px;
}

#main-page {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#work-section {
  flex: 1 12%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.links {
  flex: 2 70%;
  width: 200px;
  height: 150px;
}

#image-one {
  margin-right: 30px;
}
#image-two {
  margin-right: 30px;
}

.right-border {
  border-right: 3px solid;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

footer div {
  display: flex;
  justify-content: center;
  flex: 2 70%;
}

footer ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  text-decoration: none;
  align-items: center;
}

footer ul li {
  font-size: 20px;
  padding: 0 10px;
}
footer h2 {
  font-size: 30px;
  padding-right: 20px;
  text-align: right;
}

@media screen and (max-width: 980px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 575px) {
}
